<h1>Productos</h1>

<p><strong>nombre:</strong>{{title}}</p>
<p><strong>Descripcion:</strong>{{description}}</p>
<p><strong>Precio:</strong>{{price}}</p>
<p><strong>Thumbnail:</strong>{{thumbnail}}</p>
<p><strong>Código:</strong>{{code}}</p>
<p><strong>Existencia:</strong>{{stock}}</p>

<a href="/">Volver</a>

